*.actual
okeydoke.iws
okeydoke.ipr
okeydoke.iml
target/
src/test/java/org/rococoa/okeydoke/examples/ApprovalsRuleTest.doesnt_match_when_approved_result_doesnt_match.approved
src/test/java/org/rococoa/okeydoke/examples/ApprovalsRuleTest.doesnt_match_where_no_approved_result.approved